<div class="game-container">
    <canvas id="game" height="800" width="800"/>
</div>

<style>
    .game-container, #game {
        background-color: var(--text);
        position: relative;
        z-index: 9999;
    }
</style>