---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('writings');
  return entries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title="about">
  <div class="header">
    <h1>{entry.data.title}</h1>
    <div class="dates">
        <p>posted {entry.data.date}</p>
        <p class="updated">updated {entry.data.updated_at}</p>
    </div>
  </div>
  <div class="content">
    <Content />
  </div>
</Layout>

<style>
  a {
    text-decoration: underline;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    & h1 {
      font-weight: normal;
    }

    .updated::before {
      content: "·";
      margin-right: 8px;
    }
  }


  .content {
    margin-top: 1rem;
  }
</style>