:root {
    --light: #FEFFFA;
    --dark: #29242b;
    --lightHover: #e5e6e3;
    --darkHover: #2b242e;
    --track-width: 800px;
}

@layer base {
    html[data-theme="dark"] {
        --theme-bg: var(--dark);
        --theme-text: var(--light);
        --theme-hover-bg: var(--lightHover);
        --theme-hover-text: var(--darkHover);

        .footer-subway {
            background: rgb(243,246,130);
            background: radial-gradient(circle, rgba(243,246,130,0.6274944567627494) 0%, rgba(244,247,149,0) 67%, rgba(198,199,161,0) 100%);
            background-position-y: 70px;
        }

        .footer-subway-car[data-train="dark"] {
            visibility: visible !important;
        }
    }

    html[data-theme="light"] {
        --theme-bg: var(--light);
        --theme-text: var(--dark);
        --theme-hover-bg: var(--darkHover);
        --theme-hover-text: var(--lightHover);

        .footer-subway-car[data-train="light"] {
            visibility: visible !important;
        }
    }
}

html {
    background-color: var(--theme-bg);
    color: var(--theme-text);
    text-rendering: auto;
}

/* Root Elements */

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    outline: none;
}

ul, li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    height: 128px;
    width: 128px;
    justify-content: center;
}

/* fonts */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 36
}

/* helpers */

.pdtb-1r {
    padding: 1em 0;
}

.mgtb-1r {
    margin: 1em 0;
}

.animate {
    transition: transform 0.5s, background-color 0.5s;
}

.icon {
    cursor: pointer;
    display: inherit;
    overflow: hidden;
    user-select: none;
}

/* wrappers */

.content-container {
    height: 100vh;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

/* nav */

#light {
    transform: translateY(0px);
}

#dark {
    transform: translateY(-28px);
}

.anchor-text {
    &:hover, &:focus {
        background-color: var(--theme-hover-bg);
        color: var(--theme-hover-text);
    }

    text-decoration: underline;
    padding: 4px 2px;
}

.nav {
    margin-top: 1em;
    width: 100%;
}
  
.nav, .nav-links {
    display: flex;
}
  
.nav-title {
    flex-grow: 2;
}

.nav-links {  
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
}

.nav-element {
    margin: 0 0.5em;
    font-size: 14pt;
}

.nav-theme {
    width: 24px;
    height: 24px;
    border: none;
    color: inherit;
    background: transparent;
    margin: 0;
    padding: 0;
}

.nav-theme-toggle {
    height: max-content;
}

.nav-theme-toggle::selection {
    background: transparent;
}

/* body */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior-y: contain;
    font-family: 'Josefin Sans', sans-serif;
    font-kerning: auto;
    line-height: 1.5;
}

.body-content {
    max-width: 800px;
}

/* body -> intro */

.body-intro {
    margin: 0 auto;
    padding: 2em 0;
}

.body-list {
    margin-right: 1em;
}

.body-list-element {
    white-space: nowrap;
    margin: 0.5em 0;
}

.body-list-element:first-child {
    margin-top: 0;
}

.body-intro-main > p {
    margin: 1em 0;
}

.body-intro-main > p {
    margin: 0;
}

/* body -> projects */

#body-change-toggle {
    color: orange;
    cursor: pointer;
}

.body-info {
    padding-top: 2em;
}

.body-info-header {
    padding-bottom: 1em;
}

.body-projects {
    display: flex;
    flex-direction: row-reverse;
}

.body-projects-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.body-project-item {
    border: 2px solid var(--theme-text);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    fill: var(--theme-text);
    padding: 4px;
    position: relative;
    width: 45%;
    height: 150px;
    margin: 0px 8px 0px 4px;
    justify-content: space-between;
}

.body-project-item h4 {
    align-items: center;
}

.project-img {
    background-color: var(--theme-text);
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 0.25em;
    padding: 0;
    mask-image: url("/public/assets/images/github-mark-white.svg");
    mask-size: contain;
    -webkit-mask-image: url("/public/assets/images/github-mark-white.svg");
    -webkit-mask-size: contain;
}

.project-icons * {
    margin-right: 4px;
}

.img-banner {
    width: 800px !important;
    height: 400px !important;
}

/* footer */

.footer {
    display: flex;
    width: 100%;
    border-top: 2px solid var(--theme-text);
    padding-top: 0.75em;
    position: relative;
    border-radius: none;
}

.footer-subway-wrapper {
    width: 100%;
    height: 40px;
    position: relative;
    border-bottom: 2px solid var(--theme-text);
    overflow: hidden;
}

.footer-subway-tunnel {
    height: 120%;
    background-color: var(--theme-text);
    width: 4px;
    position: absolute;
    z-index: 4;
}

.footer-subway {
    animation: 15s infinite linear choochoo, 1.2s infinite linear bounce;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    height: 200px;
    width: 200px;
    z-index: 3;
}

@keyframes choochoo {
    from {
        transform: translate(var(--track-width), -75px);
    }

    to {
        transform: translate(-100%, -75px);
    }
}

@keyframes bounce {
    from {
        margin-top: 1px;
    }

    to {
        margin-top: 0;
    }
}

.footer-subway-car {
    height: 32px;
    width: 96px;
    position: absolute;
    visibility: hidden;
    display: inline;
}

.footer-socials {
    width: max-content;
    margin-left: auto;
}

.footer-img {
    fill: var(--theme-text);
}

.footer-img:first-child {
    margin-right: 0.5em;
}

/* footer-spotify */

#currentSong {
    white-space: nowrap;
    font-size: 16px;
}

#currentArtist {
    font-size: 12px;
    white-space: nowrap;
}

#currentSongText {
    width: auto;
}

#currentSongText, .currentArtistName {
    text-decoration: none;
}

#currentSongText:hover, .currentArtistName:hover, #currentSongText:focus, .currentArtistName:focus {
    text-decoration: underline;
}

.footer-song-scroll {
    -webkit-animation: scroll 30s linear infinite;
    -moz-animation: scroll 30s linear infinite;
    -o-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;  
}

.footer-song-scroll:hover {
    animation-play-state: paused;
}

@-webkit-keyframes scroll {
    from {
        -webkit-transform: translateX(0%);
    }

    50% {
        -webkit-transform: translateX(-75%);
    }

    to {
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes scroll {
    from {
        -moz-transform: translateX(0%);
    }

    50% {
        -moz-transform: translateX(-75%);
    }

    to {
        -moz-transform: translateX(0%);
    }
}

@-o-keyframes scroll {
    from {
        -o-transform: translateX(0%);
    }

    50% {
        -o-transform: translateX(-75%);
    }

    to {
        -o-transform: translateX(0%);
    }
}
@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-75%);
    }

    to {
        transform: translateX(0%);
    }
}

.footer-spotify {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    width: 250px;
    height: 56px;
}

.spotify-info-wrapper {
    width: 210px;
    height: auto;
}

html[data-theme="light"] .dark-gradient {
    opacity: 0;
}

html[data-theme="dark"] .light-gradient {
    opacity: 0;
}

html[data-theme="light"] .light-gradient {
    opacity: 1;
    transition: opacity 3.2s;
}

html[data-theme="dark"] .dark-gradient {
    opacity: 1;
    transition: opacity 3.2s;
}

.dark-gradient, .light-gradient {
    z-index: 2;
    position: absolute;
    width: 215px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.dark-gradient {
    background: linear-gradient(to left, 
        var(--dark) 1%,
        transparent 10%,
        transparent 95%, 
        var(--dark) 99%
    );
}

.light-gradient {
    background: linear-gradient(to left, 
        var(--light) 1%,
        transparent 10%,
        transparent 95%,
        var(--light) 99%
    );
}

.footer-spotify-info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

.footer-spotify-album {
    z-index: 2;
    width: 36px;
    height: 36px;
    background-color: var(--light);
    background-image: url("/public/assets/images/album.png");
    background-size: contain;
    border: 2px solid var(--theme-text);
    border-radius: 6px;
}

@media (max-width: 900px) {
    .content-wrapper {
        width: 90%;
    }

    .body-project-item {
        width: 95%;
        margin-bottom: 5%;
    }

    h2, h1 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .body-info {
        padding-bottom: 0;
    }

    .body-projects {
        flex-direction: column-reverse;
    }

    .body-project-item {
        width: 100%;
        margin: 0.5em;
    }

    .banner {
        padding-top: 50px;
        margin: 2em auto;
    }

    .body-list {
        display: none;
    }
}
