:root {
    --lightTheme: #FEFFFA;
    --darkTheme: #423847;
    --lightThemeHover: #e5e6e3;
    --darkThemeHover: #2b242e;
}

html {
    text-rendering: auto;
}

html[data-theme="dark"], html[data-theme="light"] a:hover, html[data-theme="light"] a:focus {
    color: var(--lightTheme) !important;
    background-color: var(--darkTheme) !important;
}

html[data-theme="light"], html[data-theme="dark"] a:hover, html[data-theme="dark"] a:focus {
    color: var(--darkTheme) !important;
    background-color: var(--lightTheme) !important;
}

/* Root Elements */

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    padding: 4px 2px;
}

ul, li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* fonts */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 36
}

/* helpers */

.pdtb-1r {
    padding: 1rem 0;
}

.mgtb-1r {
    margin: 1rem 0;
}

.animate {
    transition: transform 0.5s, background-color 0.5s;
}

.icon {
    cursor: pointer;
    display: inherit;
    overflow: hidden;
    user-select: none;
}

/* wrappers */

.content-container {
    height: 100vh;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

/* nav */

.nav {
    margin-top: 1rem;
    width: 100%;
}
  
.nav, .nav-links {
    display: flex;
}
  
.nav-title {
    flex-grow: 2;
}

.nav-links {  
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
}

.nav-element {
    margin: 0 0.5rem;
    font-size: 14pt;
}

.nav-theme {
    width: 24px;
    height: 24px;
    border: none;
    color: inherit;
    background: transparent;
    margin: 0;
    padding: 0;
}

.nav-theme-toggle {
    height: max-content;
}

.nav-theme-toggle::selection {
    background: transparent;
}

#light {
    transform: translateY(0px);
}

#dark {
    transform: translateY(-28px);
}

/* body */

img {
    height: 128px;
    width: 128px;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overscroll-behavior-y: contain;
    font-family: 'Josefin Sans', sans-serif;
    font-kerning: auto;
    line-height: 1.5;
}

.body-content {
    max-width: 800px;
}

/* body -> intro */

.body-intro {
    margin: 0 auto;
}

.body-list {
    margin-right: 1rem;
}

.body-list-element {
    white-space: nowrap;
    margin: 0.5rem 0;
}

.body-list-element:first-child {
    margin-top: 0;
}

.body-intro-main > p {
    margin: 1rem 0;
}

.body-intro-main > p {
    margin: 0;
}

/* body -> about */

#body-change-toggle {
    color: orange;
    cursor: pointer;
}

.img-banner {
    width: 800px !important;
    height: 400px !important;
}

/* body -> blog */

.petals {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.e {
    color: black;
    overflow-y: hidden;
    position: absolute;
    width: 24px;
    height: 24px;
}

.blog {
    width: 75%;
}

.blog-post {
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem;
}

/* footer */

.footer {
    margin: 3rem auto 1rem auto;
    width: 100%;
}

.footer > .footer-socials {
    text-align: center;
    width: 200px;
    margin: auto;
}

.footer-element {
    margin: 0 0.5rem;
}

/* footer-spotify */

#currentSong {
    white-space: nowrap;
    font-size: 16px;
}

#currentArtist {
    font-size: 12px;
}

.footer-spotify-wrapper {
    width: 100%;
    text-align: center;
}

.footer-spotify {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem auto;
    width: 200px;
    height: 56px;
}

html[data-theme="light"] .footer-spotify-wrapper {
    background-color: var(--darkTheme);
    color: var(--lightTheme);
}

html[data-theme="dark"] .footer-spotify-wrapper {
    background-color: var(--lightTheme);
    color: var(--darkTheme);
}

.footer-spotify-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
}

.footer-spotify > * {
    padding: 0.25rem;
}

.footer-spotify-album {
    width: 48px;
    height: 48px;
}

@media (max-width: 900px) {
    .content-wrapper {
        width: 90%;
    }

    h2, h1 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .body-list {
        display: none;
    }
}
