@import "tailwindcss";

@theme inline {
  --color-light: #f4f2f0;
  --color-dark: #1c1c1b;

  --color-font-light: #f6f5f4;
  --color-font-dark: #2b2b2b;

  --font-sentient: var(--font-sentient);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

@keyframes title-slide-out {
  to {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
}

@keyframes title-slide-in {
  from {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
}
