---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
    <div>
        <p>404</p>
        <a href="/">go home</a>
    </div>
</BaseLayout>

<style>
    div {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 5rem;
        font-weight: bold;
    }
</style>