---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Main from "../components/main.astro";
---
<Layout>
    <Header/>
    <Main>
        <script src="../scripts/pedals.ts"></script>
        <sup>nothing here yet :(</sup>
        <div class="pedals mgtb-1r"/>
        <sup>...except these (temporarily in png format... and not as cool looking).</sup>
    </Main>
    <Footer/>
</Layout>