---
import Layout from "../layouts/Layout.astro";
import Main from "../components/main.astro";
import BlogPostLayout from "../layouts/BlogPostLayout.astro";
import Post from "../components/post.astro";

const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout>
    <Main>
        <div class="pedals mgtb-1r"></div>
        <div class="blog">
            {posts.map((post) => 
                <div class="blog-post">
                    <a href={post.url}>{post.frontmatter.title}</a>
                    <post.Content/>
                </div>
            )}
        </div>
    </Main>
</Layout>