---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Layout>
	<Header/>
	<main class="body">
		<div class="banner">
			<img src="https://i.imgur.com/NBnMlwq.png"/>
		</div>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi itaque iste quos blanditiis dicta veniam?</p>
	</main>
	<Footer/>
</Layout>

<style>
</style>
