---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Layout>
	<Header/>
	<main class="body">
		<div class="banner">
			<img src="https://i.imgur.com/NBnMlwq.png"/>
			<!-- <marquee>bonjour</marquee> -->
		</div>
		<div class="body-content">
			<div class="body-intro">
				<div class="body-list">
					<ul>
						<li class="body-list-element">My Writings</li>
						<li class="body-list-element">More About Me</li>
						<li class="body-list-element">My Projects</li>
					</ul>
				</div>
				<div class="body-intro-content">
					<p>Welcome! I'm Joseph. I enjoy doing frontend work and messing around on browsers.</p>
					<p>My main languages include TypeScript, JavaScript, and Rust. I occasionally touch C, Lua, and Bash.</p>
				</div>
			</div>
			<div>
				<div>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero voluptas, praesentium harum doloremque explicabo maiores? Illo dignissimos velit ratione iste nulla. Natus esse eveniet nemo, laudantium, suscipit ea officia fugiat hic, voluptatibus cum ad placeat?</p>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam esse, doloremque labore dolore dolor quo distinctio minima? Quod pariatur ratione ipsum maiores laboriosam incidunt sunt.</p>
				</div>
			</div>
		</div>
	</main>
	<Footer/>
</Layout>

<style>
</style>
