---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Main from "../components/main.astro";
import Footer from "../components/footer.astro";
import Project from "../components/project.astro";
import Gameoflife from "../components/gameoflife.astro";

import React from "../components/atoms/react.astro";
import Postgres from "../components/atoms/postgres.astro";
import Python from "../components/atoms/python.astro";
import TypeScript from "../components/atoms/typescript.astro";
import Node from "../components/atoms/node.astro";
import AstroIcon from "../components/atoms/astro.astro";
import CSS from "../components/atoms/css.astro";

import "/public/css/game.css";
---

<Layout title="home">
	<Header />
	<Main>
		<div class="body-content">
			<div class="body-intro">
				<div class="body-intro-main">
					<p>
						Welcome! I'm Joseph. I enjoy doing frontend work and
						messing around on browsers.
					</p>
					<br />
					<p>
						My main language is TypeScript, but I occasionally touch
						C and Python.
					</p>
					<br />
					<p>
						I'm currently working on understanding web browsers
						more, and I hope to be able to create or contribute to
						some sort of browser project.
					</p>
					<br />
					<p>
						In my time away from computers, I enjoy film
						photography, vintage cars, calisthenics, and reading.
					</p>
				</div>
			</div>
			<div class="body-info">
				<h3 class="body-info-header">Projects</h3>
				<div class="body-projects">
					<Gameoflife />
					<div class="body-projects-list">
						<Project
							title="Minesweeper"
							description="This is a simple recreation of the game built using React and TypeScript."
							source="https://github.com/kiabq/minesweeper-clone"
							link="https://minesweeper98.netlify.app/"
						>
							<!-- Project Technology Icons -->
							<TypeScript />
							<React />
							<CSS />
						</Project>
						<Project
							title="Minispot"
							description="A Small API built in Python using FastAPI which fetches Spotify account data."
							source="https://github.com/kiabq/minispot"
							link="https://github.com/kiabq/minispot"
						>
							<!-- Project Technology Icons -->		
							<Python />
						</Project>
						<Project
							title="HyperSlice"
							description="A Link shortener built using Astro, Koa, and SQL."
							source="https://github.com/kiabq/hyperslice"
							link="https://link.cnwy.dev"
						>
							<!-- Project Technology Icons -->
							<AstroIcon />
							<TypeScript />
							<Node />
							<CSS />
							<Postgres />	
						</Project>
					</div>
				</div>
			</div>
		</div>
	</Main>
	<Footer />
</Layout>
