---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<script>
	const artistToggle = document.querySelector("#body-change-toggle");
	const artists = ["Simon Stalenhag", "Lennart", "Waneella"];
	let index = 0;

	artistToggle?.addEventListener("click", (e) => {
		if (index >= artists.length - 1) {
			index = 0;
		} else {
			index++
		}

		artistToggle.innerHTML = artists[index];
	})
</script>

<Layout>
	<Header/>
	<main class="body">
		<div class="banner">
			<img src="https://i.imgur.com/NBnMlwq.png"/>
			<!-- <marquee>bonjour</marquee> -->
		</div>
		<div class="body-content">
			<h1>Introduction</h1>
			<div class="body-intro">
				<div class="body-list">
					<ul>
						<li class="body-list-element">My Writings</li>
						<li class="body-list-element">More About Me</li>
						<li class="body-list-element">My Projects</li>
					</ul>
				</div>
				<div class="body-intro-content">
					<p>Welcome! I'm Joseph. I enjoy doing frontend work and messing around on browsers.</p>
					<p>My main languages include TypeScript, JavaScript, and Rust. I occasionally touch C, Lua, and Bash.</p>
				</div>
			</div>
			<div class="body-about">
				<div>
					<h2>More about me</h2>
					<p>Outside of computers, I enjoy reading, film photography, video games, and calisthenics.</p>
					<p>Some of my favorite art(ists): <span id="body-change-toggle">Simon Stalenhag</span></p>
				</div>
				<div>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam esse, doloremque labore dolore dolor quo distinctio minima? Quod pariatur ratione ipsum maiores laboriosam incidunt sunt.</p> -->
				</div>
			</div>
		</div>
	</main>
	<Footer/>
</Layout>

<style>
</style>
