---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const writings = await getCollection("writings");
---

<Layout title="writings">
    <div class="wrapper">
        <div class="content">
            <h1>posts</h1>
            <ul>
                {writings.map(writing => {
                    return ( 
                        <li>
                            <a href={`/posts/${writing.slug}`} class="post-card">
                                <p class="post-title">{writing.data.title}</p>
                                <p>{writing.data.description}</p>
                                <p class="post-date">{writing.data.date}</p>
                            </a>
                        </li>
                        <hr/>
                    )
                })}
            </ul>
        </div>
    </div>
</Layout>

<style>
    hr {
        margin: 1.5rem 0;
    }

    h1 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
    }

    ul {
        text-decoration: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: 500px;

        @media (max-width: 900px) {
            width: 90%;
        }
    }

    .post-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .post-title {
            font-size: 1.25rem;
        }

        .post-date {
            font-size: 0.75rem;
        }
        
        &:hover {
            text-decoration: none;

            .post-title {
                text-decoration: underline;
            }
        }
    }
</style>