<footer class="footer pdtb-1rem">
    <div>
        <div class="footer-spotify">
            <img src='' class="footer-spotify-album"/>
            <div class="footer-spotify-song">
                <span id="currentSong"></span>
            </div>
        </div>
        <a href="https://github.com/kiabq" 
            class="footer-element" 
            target="_blank">
            github
        </a>
        <a href="https://www.linkedin.com/in/joseph-e-conway/" 
            class="footer-element"
            target="_blank">
            linkedin
        </a>
    </div>
</footer>