---
import Github from "./atoms/github.astro";
import Linkedin from "./atoms/linkedin.astro";
---

<footer class="footer pdtb-1rem">
    <div class="footer-spotify">
        <img src='' class="footer-spotify-album"/>
        <div class="footer-spotify-info">
            <span id="currentSong"></span>
            <span id="currentArtist"></span>
        </div>
    </div>
    <div class="footer-socials">
        <a href="https://www.linkedin.com/in/joseph-e-conway/" target="_blank" class="footer-img">
            <Linkedin />
        </a>
        <a href="https://github.com/kiabq" target="_blank" class="footer-img">
            <Github />
        </a>
    </div>
</footer>