<header>
    <div class="nav pdtb-1rem">
        <div class="nav-title">
          <h3><a href="/" class="anchor-text">cnwy</a></h3>
        </div>
        <div class="nav-links">
          <h3 class="nav-element"><a href="https://github.com/kiabq" class="anchor-text" target="_blank">github</a></h3>
          <button class="nav-theme icon" tabindex="0">
            <div class="nav-theme-toggle preload">
              <span class="material-symbols-rounded">
                &#xe518;
              </span>
              <span class="material-symbols-rounded">
                &#xe51c;
              </span>
            </div>
          </button>
        </div>
      </div>
</header>