---

---

<script>
    const initTheme = getTheme();
    const globalTheme = document.querySelector(".content-container");
    const theme = document.querySelector(".nav-theme");
    const themeToggle = document.querySelector(".nav-theme-toggle");

    function getTheme() {
        const currentTheme = localStorage.getItem("theme");

        if (currentTheme === null) {
            return "light";
        } else {
            return currentTheme;
        }
    }
    
    if (globalTheme !== null && themeToggle !== null && theme !== null) {
        const gT = globalTheme;
        const toggle = themeToggle;

        function setThemeId() {
            if (getTheme() === "dark") {
                gT.classList.add("dark-theme");
                gT.classList.remove("light-theme");
            } else {
                gT.classList.add("light-theme");
                gT.classList.remove("dark-theme");
            }
            
            toggle.id = getTheme();
        }

        function setTheme(param: string) {
            localStorage.setItem("theme", param);
        
            setThemeId();
        }

        function handleWindowLoad() {
            if (initTheme === null || (initTheme !== "light" && initTheme !== "dark")) {
                localStorage.setItem("theme", "light");
            }

            setThemeId();
        }

        function handleThemeChange() {
            if (localStorage.getItem("theme") === "dark") {
                setTheme("light");
            } else {
                setTheme("dark");
            }
        }

        window.addEventListener("load", handleWindowLoad);
        theme.addEventListener("click", handleThemeChange);
    }
</script>

<header>
    <div class="nav pdtb-1rem">
        <div class="nav-title">
          <h3><a href="/">jcwy</a></h3>
        </div>
        <div class="nav-links">
          <h3 class="nav-element"><a href="/blog">blog</a></h3>
          <h3 class="nav-element"><a href="/projects">projects</a></h3>
          <h3 class="nav-element"><a href="https://github.com/kiabq">github</a></h3>
          <div class="nav-theme">
            <div class="nav-theme-toggle">
              <span class="material-symbols-rounded">
                &#xe518;
              </span>
              <span class="material-symbols-rounded">
                &#xe51c;
              </span>
            </div>
          </div>
        </div>
      </div>
</header>