---
interface Props {
	page: string;
}

const { page } = Astro.props;
---

<header>
    <nav>
        <a href="/" style="min-height: inherit;" class={page == "home" ? "selected" : ""}>cnwy</a>
        <div id="nav">
            <a href="/writings" class={page == "writings" ? "selected" : ""}>writings</a>
            <button id="nav-theme-toggle" tabindex="0"/>
        </div>
    </nav>
</header>

<style>
    header {
        margin: 0;
        padding: 0;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0 1.5rem 0;
        font-size: 1.5rem;
        font-family: "Josefin Slab";
        font-weight: 900;
        min-height: 36px;
    }
    
    nav > h1,h2,h3,h4,h5,h6,p {
        font-size: 1.5rem;
    }

    #title {
        display: block;
        min-height: inherit;
    }

    #nav{
        display: inherit;
        align-items: inherit;
        gap: 0.5rem;
    }

    #nav-theme-toggle {
        position: relative;
        border: none;
        background-color: var(--text);
        color: var(--text);
        width: 24px;
        height: 24px;
        z-index: 2;
    }

    #nav-theme-toggle:hover {
        cursor: pointer;
    }

    html[data-theme="light"] #nav-theme-toggle {
        mask-image: url("../icons/sun.svg");
        -webkit-mask-image: url("../icons/sun.svg");
    }

    html[data-theme="light"] .toggle-dark {
        display: none;
    }

    html[data-theme="dark"] #nav-theme-toggle {
        mask-image: url("../icons/moon-and-stars.svg");
        -webkit-mask-image: url("../icons/moon-and-stars.svg");
    }

    html[data-theme="dark"] .toggle-light {
        display: none;
    }

    .selected {
        text-decoration: underline;
    }

    @supports (-webkit-touch-callout: none) {
        html[data-theme="light"] #nav-theme-toggle {
            mask-image: url("../icons/sun.svg");
            --webkit-mask-image: url("../icons/sun.svg");
        }

        html[data-theme="dark"] #nav-theme-toggle {
            mask-image: url("../icons/moon-and-stars.svg");
            --webkit-mask-image: url("../icons/moon-and-stars.svg");
        }
    }
</style>

<script is:inline>
    const ROOT = document.getElementsByTagName("html")[0];
    const TOGGLE = document.getElementById("nav-theme-toggle");
    let isDark = true;

    function getTheme() {
        const LOCAL_THEME = localStorage.getItem("theme");
        const PREFERRED_THEME = (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");

        if (LOCAL_THEME !== null) {
            return LOCAL_THEME;
        } else {
            return PREFERRED_THEME;
        }
    }

    function initTheme() {
        const THEME = getTheme();
        ROOT.dataset["theme"] = THEME;
        localStorage.setItem("theme", THEME);
    }

    TOGGLE.addEventListener("click", () => {
        isDark = !isDark;

        if (isDark) {
            localStorage.setItem("theme", "light");
        } else {
            localStorage.setItem("theme", "dark");
        }

        ROOT.dataset["theme"] = getTheme();
    })

    initTheme()
</script>