<script async>
  const theme = localStorage.getItem("theme");
  const htmlTag = document.getElementsByTagName("html");

  const stylesheet = document.styleSheets[4];
  stylesheet.insertRule(".preload {}", stylesheet.cssRules.length);

  const preload = [...stylesheet.cssRules].find((val) => val.selectorText === ".preload");

  const light = stylesheet.cssRules[0].style.getPropertyValue("--lightTheme");
  const dark = stylesheet.cssRules[0].style.getPropertyValue("--darkTheme");

  if (theme === "light" || theme === null) {
  preload.style.setProperty("transform", "translateY(0px)");
    htmlTag[0].style.backgroundColor = light;
    htmlTag[0].style.color = dark;
  } else {
  preload.style.setProperty("transform", "translateY(-28px)");
    htmlTag[0].style.backgroundColor = dark;
    htmlTag[0].style.color = light;
  }
</script>

<header>
    <div class="nav pdtb-1rem">
        <div class="nav-title">
          <h3><a href="/">cnwy</a></h3>
        </div>
        <div class="nav-links">
          <h3 class="nav-element"><a href="/blog">blog</a></h3>
          <h3 class="nav-element"><a href="/projects">projects</a></h3>
          <h3 class="nav-element"><a href="https://github.com/kiabq">github</a></h3>
          <div class="nav-theme">
            <div class="nav-theme-toggle preload">
              <span class="material-symbols-rounded">
                &#xe518;
              </span>
              <span class="material-symbols-rounded">
                &#xe51c;
              </span>
            </div>
          </div>
        </div>
      </div>
</header>