<header>
    <div class="nav pdtb-1rem">
        <div class="nav-title">
          <h3><a href="/">cnwy</a></h3>
        </div>
        <div class="nav-links">
          <h3 class="nav-element"><a href="/projects">projects</a></h3>
          <h3 class="nav-element"><a href="https://github.com/kiabq" target="_blank">github</a></h3>
          <div class="nav-theme icon">
            <div class="nav-theme-toggle preload">
              <span class="material-symbols-rounded">
                &#xe518;
              </span>
              <span class="material-symbols-rounded">
                &#xe51c;
              </span>
            </div>
          </div>
        </div>
      </div>
</header>