---
const { title, description, source, link } = Astro.props;
---

<div class="body-project-item">
    <h4 style="display: flex">
        <a href={link} target="_blank">{title}</a>
        <a href={source} class="project-img"></a>
    </h4>
    <p class="body-project-description">{description}</p>
</div>