---
const { title, description, source, link } = Astro.props;
---

<div class="body-project-item">
    <h4 style="display: flex; justify-content: space-between;">
        <a href={link} class="anchor-text" target="_blank" rel="noreferrer noopener">{title}</a>
        <a href={source} class="project-img" rel="noreferrer noopener">
            <span style="opacity: 0;">github</span>
        </a>
    </h4>
    <p class="body-project-description">{description}</p>
    <ul class="project-icons">
        <li><slot /></li>
    </ul>
</div>