---
import "/public/css/styles.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="cnwy">
		<meta property="og:site_name" content="cnwy">
		<meta property="og:description" content="Passionate Developer - Always Learning">
		<meta property="og:url" content="https://www.cnwy.dev">
		<meta property="og:locale" content="en-US">
		<meta property="og:type" content=website>
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:image" content="/assets/images/og.png">
		<title>cnwy - {title}</title>
		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />

		<!-- Fonts & Icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- Material Icons -->
		<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" /> -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<!-- Secular One -->
		<link
			href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
			rel="stylesheet"
		/>
		<!-- Ubuntu -->
		<link
			href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
			rel="stylesheet"
		/>
		<!-- Josefin -->
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		/>

		<!-- Reenie Beanie -->
		<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet"> 

		<script src="../scripts/theme.ts"></script>
		<script src="../scripts/cgol.ts"></script>
		<script>
			const current_song: HTMLDivElement | null = document.querySelector("#currentSong");
			const current_artist: HTMLDivElement | null = document.querySelector("#currentArtist");
			const spotify_footer: HTMLDivElement | null = document.querySelector(".footer-spotify");
			const spotify_album: HTMLImageElement | null = document.querySelector(".footer-spotify-album");
			const spotify_container: HTMLDivElement | null = document.querySelector(".footer-spotify-info");

			window.addEventListener("load", (event) => {
				getCurrentSong();
			})

			function getCurrentSong() {
				fetch("http://localhost:8000")
					.then((result) => {
						return result.json();
					})
					.then((result) => {
						if (result.data.is_playing) {
							if (current_song.firstChild) {
								current_song.removeChild(current_song.firstChild);
							}

							current_artist.textContent = "";
							
							const artists = result.data.item.artists;
							const track = result.data.item;
							const album_cover = result.data.item.album.images;
							
							spotify_album!.src = album_cover[2].url;							
							spotify_album!.style.display = "inline-block";

							const song = document.createElement("a");
							song.setAttribute("id", "currentSongText");
							song.setAttribute("href", track.external_urls.spotify);
							song.setAttribute("target", "_blank");
							const song_text = document.createTextNode(track.name);
							song.appendChild(song_text);
							current_song.appendChild(song);

							for (let i = 0; i < artists.length; i++) {
								if (i > 0) {
									current_artist.textContent += ", ";
								}
								current_artist.textContent += artists[i].name;
							}

							if ((current_song.firstChild.offsetWidth - current_song.clientWidth) > 50) {
								current_song.classList.add("footer-song-scroll");
							} else {
								current_song.classList.remove("footer-song-scroll");
							}
						} else {
							spotify_album!.src = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=";							
							current_song.classList.remove("footer-song-scroll");
							current_song.textContent = "nothing playing";
							current_artist.textContent = "at the moment";
						}
					}).catch((e) => {
						current_song.textContent = "nothing playing";
						current_artist.textContent = "at the moment";
					})
			}

			setInterval(() => {
				getCurrentSong();
			}, 5000);
		</script>
	</head>

	<script defer>
		const theme = localStorage.getItem("theme");
		const htmlTag = document.getElementsByTagName("html");

		const STYLESHEET = document.styleSheets[5];
		STYLESHEET.insertRule(".preload {}", STYLESHEET.cssRules.length);

		const PRELOAD = [...STYLESHEET.cssRules].find(
			(val) => val.selectorText === ".preload"
		);

		const LIGHT = STYLESHEET.cssRules[0].style.getPropertyValue("--light");
		const DARK = STYLESHEET.cssRules[0].style.getPropertyValue("--dark");

		PRELOAD.style.setProperty("transform", "translateY(-28px)");
		htmlTag[0].style.backgroundColor = DARK;
		htmlTag[0].style.color = LIGHT;

		if (theme === "light" || theme === null) {
			PRELOAD.style.setProperty("transform", "translateY(0px)");
			htmlTag[0].style.backgroundColor = LIGHT;
			htmlTag[0].style.color = DARK;
		}

		function clearStyle() {
			htmlTag[0].style = "";
			window.removeEventListener("load", clearStyle)
		}

		window.addEventListener("load", clearStyle)
	</script>

	<body class="content-container">
		<div class="content-wrapper">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Ubuntu", sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
