---
import "../../public/css/styles.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>cnwy</title>

		<!-- Fonts & Icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<!-- Material Icons -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
		<!-- Secular One -->
		<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
			<!-- Ubuntu -->
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
			<!-- Josefin -->
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 	
		
		<script src="../scripts/theme.ts"></script>
		<script src="../scripts/cgol.ts"></script>
	</head>

	<script async>
		const theme = localStorage.getItem("theme");
		const htmlTag = document.getElementsByTagName("html");
	
	  	const STYLESHEET = document.styleSheets[4];
	  	STYLESHEET.insertRule(".preload {}", STYLESHEET.cssRules.length);

	  	const PRELOAD = [...STYLESHEET.cssRules].find((val) => val.selectorText === ".preload");
	
	  	const LIGHT = STYLESHEET.cssRules[0].style.getPropertyValue("--lightTheme");
	  	const DARK = STYLESHEET.cssRules[0].style.getPropertyValue("--darkTheme");
	
		if (theme === "light" || theme === null) {
			PRELOAD.style.setProperty("transform", "translateY(0px)");
			htmlTag[0].style.backgroundColor = LIGHT;
			htmlTag[0].style.color = DARK;
		} else {
			PRELOAD.style.setProperty("transform", "translateY(-28px)");
			htmlTag[0].style.backgroundColor = DARK;
			htmlTag[0].style.color = LIGHT;
		}
	</script>

	<body class="content-container">
		<div class="content-wrapper">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Ubuntu', sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
