---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/header.astro';
import Head from '../components/head.astro';
---

<!doctype html>
<html lang="en">
	<Head title={title}/>	
	<body>
		<Header page={title} />
		<main id="content-wrapper">
			<slot />
		</main>
		<slot name="footer" />
		<script src="../scripts/life.ts"/>
	</body>
</html>

<style>
	#content-wrapper {
		display: flex;
		flex-direction: column;
		font-family: "Josefin Sans";
		min-height: 600px;
	}
</style>